################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/RoomBooking.Domain/obj/Debug
/packages
/RoomBooking.Console/obj/Debug
